.loader {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 999;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;

	&__item {
		border: 3px solid #fff; 
		border-top: 3px solid #00aeff;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		animation: spin 0.5s linear infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}