.footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;

    &__icon {
        text-decoration: none;
        margin-right: 15px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__icons {
        margin-top: 20px;
    }

    &__logo {
        font-size: 35px;
        margin-bottom: 10px;
    }
    
    &__copyright {
        font-size: 17px;
    }
}